<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Clean URL routes -->
                <rule name="Home" stopProcessing="true">
                    <match url="^home/?$" />
                    <action type="Rewrite" url="index.html" />
                </rule>
                <rule name="Recipes" stopProcessing="true">
                    <match url="^recipes/?$" />
                    <action type="Rewrite" url="Recipe_Page/index.html" />
                </rule>
                <rule name="MealPlan" stopProcessing="true">
                    <match url="^meal-plan/?$" />
                    <action type="Rewrite" url="Meal_Plans/index.html" />
                </rule>
                <rule name="Cuisine" stopProcessing="true">
                    <match url="^cuisine/?$" />
                    <action type="Rewrite" url="Cuisine_Page/index.html" />
                </rule>
                <rule name="Community" stopProcessing="true">
                    <match url="^community/?$" />
                    <action type="Rewrite" url="Community_Page/index.html" />
                </rule>
                
                <!-- SEO redirects -->
                <rule name="RedirectIndexHtml" stopProcessing="true">
                    <match url="^index\.html$" />
                    <action type="Redirect" url="/home" redirectType="Permanent" />
                </rule>
                <rule name="RedirectRecipesHtml" stopProcessing="true">
                    <match url="^Recipe_Page/index\.html$" />
                    <action type="Redirect" url="/recipes" redirectType="Permanent" />
                </rule>
                <rule name="RedirectMealPlanHtml" stopProcessing="true">
                    <match url="^Meal_Plans/index\.html$" />
                    <action type="Redirect" url="/meal-plan" redirectType="Permanent" />
                </rule>
                <rule name="RedirectCuisineHtml" stopProcessing="true">
                    <match url="^Cuisine_Page/index\.html$" />
                    <action type="Redirect" url="/cuisine" redirectType="Permanent" />
                </rule>
                <rule name="RedirectCommunityHtml" stopProcessing="true">
                    <match url="^Community_Page/index\.html$" />
                    <action type="Redirect" url="/community" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>